#portfolio button {
  display: block;
  position: relative;
  margin: 1rem auto;
  max-width: 400px;
  overflow: hidden;
  box-shadow: 0 0 10px var(--gray2);
  padding: 0;
  border: none;
  cursor: zoom-in;
}

#portfolio img {
    display: block;
    max-height: 300px;
    transition: transform .3s ease;
}